.container {
    background-color: rgb(27, 21, 21);
    border: 3px solid rgb(27, 21, 21);
    border-radius: 20px;
    width: 65%;
    height: auto!important;
    margin-top: 7%;
}
.container_body {
    padding: 40px 0 35px 175px;
    color: rgb(255, 255, 255);
    display: flex;
}
.container_head {
    padding: 10px 0 10px 10px;
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    align-items: center;
}