.container {
    background-color: rgb(57, 52, 52);
    border: 3px solid rgb(27, 21, 21);
    border-radius: 25px;
    width: 93%;
    height: auto!important;
    margin-top: 7%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    position: relative;
    padding: 0.5rem 1rem;
    top: 35px;
    left: 2%;
}
.container_body {
    padding: 2% 0 2% 5%;
    color: rgb(255, 255, 255);
    display: flex;
}
.container_head {
    padding: 10px 0 10px 10px;
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    align-items: center;
}