.c-display {
    background-color: rgb(118, 118, 118);
    padding: 15px;
    width: 285px;
    text-align: right;
    font-size: 20px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    margin-left:auto;
    margin-right:auto;
    border:solid;
}

.button {
    padding: 10px;
    width: 67px;
    height: 45px;
    margin-top: 10px;
    background-color: rgb(118, 118, 118);
    color: black;
    font-size: 20px;
    border-radius:15px;
    line-height: 0em;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(182, 178, 178);
   }
.button:active {
    background-color: rgb(136, 136, 136);
   }