.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-size: 16px;
  position: relative;
}

.flex-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: 0;
  font-size: 16px;
  position:relative;
}
.titre,
.titreun,
.titredeux,
.titrejeux,
.textefrimousse,
.titremuffin,
.textemuffin,
.texteinfo,
.texteavent,
.racouciavent,
.titre1mdg,
.titre2mdg,
.lien,
.lienbas,
.dashboard,
#vert,
#bleu,
#bleu-f,
#bleu-c,
#rouge,
#orange,
#jaune,
#blanc {
  z-index: 1;
  font-family: "Anton", sans-serif;
}
.dashboard {
  text-decoration: none;
  color: rgb(0, 255, 221);
  padding: 0.5rem 1rem;
  background-color: teal;
  position:absolute;
  right: 35px;
}
.titre {
  color: rgb(60, 255, 0);
  font-size: 6rem;
  text-transform: uppercase;
}
.texteavent {
  color: rgb(255, 0, 0);
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: rgb(255, 208, 0);
}
.titrejeux {
  color: rgb(60, 255, 0);
  font-size: 6rem;
  text-transform: uppercase;
}
.titreskin {
  color: rgb(0, 4, 255);
  font-size: 26px;
  text-transform: uppercase;
}
.titremuffin {
color: rgb(255, 255, 255);
font-size: 6rem;
text-transform: uppercase;
}
.titre1mdg {
  color: rgb(255, 0, 0);
  font-size: 6rem;
  text-transform: uppercase;
}
.titre2mdg {
  color: rgb(0, 238, 255);
  font-size: 4rem;
  text-transform: uppercase;
}
.titreun {
color: rgb(140, 0, 255);
font-size: 6rem;
text-transform: uppercase;
}
.titredeux {
color: rgb(255, 255, 255);
font-size: 4rem;
text-transform: uppercase;
}
.textemuffin {
  color: rgb(0, 195, 255);
  
 
}
.textefrimousse {
  color: rgb(0, 0, 0);
  
}
.texteinfo {
  color: rgb(255, 0, 0);

  }
  
.lien {
  text-decoration: none;
  color: rgb(0, 255, 221);
  padding: 0.5rem 1rem;
  background-color: teal;
  border-radius: 20px;
  border: solid;
}
.lienbas {
  text-decoration: none;
  color: rgb(0, 255, 221);
  padding: 0.5rem 1rem;
  background-color: teal;
}
.lien2 {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0.5rem 3rem;
  font-size: 2rem;
  background-color: rgb(255, 255, 255);
}
.lien3 {
  text-decoration: none;
  color: rgb(255, 208, 0);
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  background-color: rgb(0, 110, 253);
}
.racouciavent {
  text-decoration: none;
  color: rgb(98, 0, 255);
  padding: 0.5rem 1rem;
  background-color: rgb(243, 227, 8);
}
.fond {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.back {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.fondavent {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.menu {
  position: fixed;
  top: 35px;
  left: 35px;
  width: 100%;
  height: auto;
  z-index: 10;
  background-color: transparent;
}

.info {
  background-image: url('information.jpg');
  background-size: 100%;
}

#vert {
  color: rgb(0, 249, 25);
}


#bleu {
  color: rgb(0, 166, 249);
}

#bleu-c {
  color: rgb(2, 221, 255);
}

#bleu-f {
  color: rgb(0, 71, 249);
}

#rouge {
  color: rgb(249, 0, 0);
}

#orange {
  color: rgb(249, 178, 0);
}

#jaune {
  color: rgb(236, 249, 0);
}

#blanc {
  color: white;
}
#scroll_to_top {
  position: fixed;
  width: 10px;
  height: 10px;
  bottom: 50px;
  right: 30px;
  z-index: 100;
  background-color: white;
  border: solid;
  width: auto;
  height: auto;
}
#scroll_to_top img {
  width: 30px;
}

li {
	color: orange;
}