/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: rgb(0, 255, 221);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: rgb(217, 255, 0);
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    width: 100%;
    z-index: 100;
    position:absolute;
    background-color: teal;
    box-shadow: 0px 1px 2px;
}
  
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: rgb(255, 255, 255);
}
.deroulant > a::after{
    content:" ";
    font-size: 12px;
    background-color:teal;
    position: fixed;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}

body{
background-image: url(globe.gif);
}
