body {
  background-color: #595959;
}

#timer {
    font-weight: bold;
  }

  #timer3 {
    font-weight: bold;
  }

  #timer3e {
    font-weight: bold;
  }

  #timer24 {
    font-weight: bold;
  }

  .droite {
    float: left;
    margin: 10%;
    color:white;
  }

  .gauche {
    float: right;
    margin: 10%;
    color:white;
  }

  #blanc {
    color:white;
  }

  #rouge {
    color:red;
  }

  .tour {
    margin: 10%;
    height:auto;
  }