body {
  background-color: #595959;
}

#timer {
    font-weight: bold;
  }

  #timer3 {
    font-weight: bold;
  }

  #timer3e {
    font-weight: bold;
  }

  #timer24 {
    font-weight: bold;
  }

  .droite {
    text-align: center;
    float: left;
    margin-left: 20%;
    margin-top: 50px;
    color:white;
    width: 200px;
    background-color: #25e4db;
    padding: 10px;
    border-radius: 30px;
  }

  .gauche {
    text-align: center;
    float: right;
    margin-right: 20%;
    margin-top: 50px;
    color:white;
    width: 200px;
    background-color: #25e4db;
    padding: 10px;
    border-radius: 30px;
  }

  #blanc {
    color:white;
  }

  #rouge {
    color:red;
  }

  .tour {
    margin: 50px;
    
  }

  .para {
    text-align: center;
    float: left;
    margin-left: 75px;
    margin-top: 50px;
    color:black;
    width: 200px;
    background-color: #a4e425;
    padding: 10px;
    border-radius: 30px;
  }