#timer {
    font-weight: bold;
  }

  #timer3 {
    font-weight: bold;
  }

  #timer3e {
    font-weight: bold;
  }

  #timer24 {
    font-weight: bold;
  }

  .droite {
    float: left;
  }

  .gauche {
    float: right;
  }